<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="main">
      <form
        action="/"
        enctype="multipart/form-data"
        method="post"
        id="uploadform"
      >
        Email <br />
        <input type="email" name="email" id="email" /> <br />
        Full Name <br />
        <input type="text" name="name" id="name" /> <br />
        Message <br />
        <textarea
          name="msg"
          id="msg"
          cols="30"
          rows="10"
          form="uploadform"
        ></textarea>
        <br />
        Photo <br />
        <input type="file" name="pic" id="pic" accept="image/*" /> <br />
        <div class="submit">
          <button type="submit" value="submitPhoto">Submit</button>
        </div>
        <% if ((typeof uploaded !== "undefined" )&&(uploaded === "true")) { %>
        <div class="uploaded">File was uploaded!</div>
        <% }else if(typeof uploaded !== "undefined"){ %>
        <div class="uploaded err">Please select a file to upload</div>
        <% } %>
      </form>
    </div>
  </body>
</html>
